:root {
    --background-color: #2C2C2C;
    --primary-color: #3A3A3A;
    --accent-color: #FF6700;
    --font-color: #E0E0E0;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 50px 50px 50px;
    width: 50vw;
    max-width: 300px;
}


.status {
    margin-bottom: 12px;
    color: var(--font-color);
    text-align: center;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 16px;
}

.button, .input {
    flex-grow: 1; 
    width: 100%; 
    margin: 4px 0; 
}

.button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    max-height: 40px; 
}

.button:hover {
    background-color: #E05A00;
}

.input {
    padding: 8px 16px; 
    border: 2px solid var(--background-color); 
    border-radius: 4px;
    background-color: var(--background-color); 
    color: var(--text-color); 
    font-size: 16px; 
    box-sizing: border-box;
}

.input:focus {
    border-color: #FF8C00;
    outline: none;
}

.label {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 8px;
    display: block;
}

.chat-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    height: 70vh;
    width: 50vw;
}

.chat {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.users-list {
    width: 20%;
    margin-left: 16px;
    margin-bottom: 4px;
    border-left: 2px solid grey;
    padding-left: 16px;
}

.current-user {
    font-weight: bold;
}

#messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    overflow-wrap: break-word;
}

.input-section {
    margin-top: 16px;
}

#messages::-webkit-scrollbar {
    width: 8px;  
}

#messages::-webkit-scrollbar-track {
    background-color: var(--primary-color);  
}

#messages::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);  
    border-radius: 4px;  
}

#messages::-webkit-scrollbar-thumb:hover {
    width: 12px; 
}

